### Maven / Gradle ###
target/
build/
out/

### Spring Tool Suite (STS) ###
.settings/
.classpath
.project

### IntelliJ IDEA ###
*.iml
.idea/

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db

### Java ###
*.class

### Temporary ###
bin/
